* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

.container {
  flex: 1;  /* Este hace que el contenido principal ocupe el espacio disponible */
}

header {
  background-color: #2d2d2d;
  border-bottom: 2px solid white; /* Cambia el grosor y color según necesites */
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  flex: 1;
  display: flex;
  margin: 20px;
}

.filters {
  width: 20%;
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
}

.filters h3 {
  margin-bottom: 20px;
}

.filter-item {
  margin-bottom: 20px;
}

.content {
  width: 80%;
  padding: 0 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar form {
  display: flex;
  width: 100%;
  max-width: 400px; /* Ajusta el tamaño máximo de la barra de búsqueda */
}

.search-bar input {
  padding: 10px 15px;
  flex: 1; /* Esto hace que el input tome todo el ancho disponible */
  border-radius: 25px 0 0 25px; /* Borde redondeado izquierdo */
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

.search-bar button {
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 0 25px 25px 0; /* Borde redondeado derecho */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button i {
  font-size: 16px;
  color: #000;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Para que las tarjetas se adapten a la pantalla */
  gap: 20px;
}

.product-card {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s; 
  overflow: hidden; 
}

.product-card:hover {
  transform: scale(1.05); 
}

.product-image {
  width: 100%; /* Ajustar el ancho al 100% para que la imagen ocupe el espacio */
  height: 200px; /* Fijar una altura para todas las imágenes */
  background-color: #e0e0e0;
  display: flex; /* Usar flexbox para centrar la imagen */
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px; 
  overflow: hidden; /* Evitar que la imagen se salga del contenedor */
}

.product-image img {
  width: 100%; /* Asegurarse de que la imagen ocupe el 100% del contenedor */
  height: 100%; /* Asegurarse de que la imagen ocupe el 100% del contenedor */
  object-fit: cover; /* Recortar la imagen para mantener el aspecto */
}

.price {
  font-size: 1.2em; 
  color: #ff5722; 
}

.marca {
  font-size: 0.9em; 
  color: #777; 
}

.social-media a {
  color: white; 
  text-decoration: none; 
}

button {
  background-color: #ecab0f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s;
}

button:hover {
  background-color: #996f0e;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #2d2d2d;
  border-top: 2px solid white;
  width: 100%;  
}

/* Estilos generales para la página de detalles del computador */
.computer-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  
}

.detail-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
  overflow: hidden;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 300px; /* Tamaño fijo para la imagen */
  height: 300px;
}

.image-container img {
  width: 100%;
  height: 100%;
  /* Ajusta las imágenes sin deformarlas */
  border-radius: 10px; /* Borde suave en las imágenes */
}

.info-container {
  flex: 2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.info-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.info-container p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
}

.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s;
}