{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'aplicacion/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="image-section">
            <img src="{% static '../media/login.jpg' %}" alt="Login Image">
        </div>
        <div class="form-section">
            <h2>Bienvenido a ...</h2>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <p></p>
                <div class="centered-button">
                    <button type="submit" class="login-btn">Iniciar Sesión</button>
                </div>
            </form>
            <div class="social-login">
                <p>O inicia sesión con</p>
                <button class="google-btn">Google</button>
                <button class="facebook-btn">Facebook</button>
            </div>
            <p class="signup-text">¿Todavía no tienes una cuenta? <a href="{% url 'registro' %}">Crea una ahora</a></p>
        </div>
    </div>
</body>
</html>
