{% extends "base.html" %}
{% load static %}

{% block titulo %}Tienda{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <aside class="filters">
            <h3>Filtros</h3>
            <form method="GET">
                <div class="filter-item">
                    <label for="range">Rango precio</label>
                    <input type="number" name="precio_minimo" min="400000" max="5000000" placeholder="Mínimo">
                    <input type="number" name="precio_maximo" min="400000" max="5000000" placeholder="Máximo">
                </div>
                <div class="filter-item">
                    <p>Marca</p>
                    <input type="checkbox" name="marcas" value="Apple" id="apple">
                    <label for="apple">Apple</label><br>
                    <input type="checkbox" name="marcas" value="Asus" id="asus">
                    <label for="asus">Asus</label><br>
                    <input type="checkbox" name="marcas" value="Samsung" id="samsung">
                    <label for="samsung">Samsung</label>
                </div>
                <button type="submit">Aplicar Filtros</button>
            </form>
        </aside>

        <main class="content">
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
           
            <div class="product-grid">
                {% for computadora in computadores %}
                <div class="product-card">
                    <div class="product-image">
                        {% if computadora.imagen %}
                        <img src="{{ computadora.imagen.url }}" alt="{{ computadora.nombre }}">
                        {% else %}
                        <img src="{% static 'images/placeholder.png' %}" alt="Sin imagen">  <!-- Imagen de marcador de posición si no hay imagen -->
                        {% endif %}
                    </div>
                    <h4>{{ computadora.nombre }}</h4>
                    <p class="price">${{ computadora.precio }}</p>
                    <p class="marca">{{ computadora.marca }}</p>
                </div>
                {% empty %}
                <p>No hay computadores disponibles en este momento.</p>
                {% endfor %}
            </div>

        </main>
    </div>

    {% endblock contenido %}